<div class="col-md-6 mx-auto">
  <div class="card">
    <div class="card-header">Prekiu sarasas:</div>
    <div class="card-body">
      <h5 *ngIf="taskList.length == 0">Empty</h5>
      <ul class="list-group list-group-flush" *ngIf="taskList.length != 0">
        <li
          class="list-group-item list-group-item-action list-group-item-info"
          *ngFor="let task of taskList; let n = index"
        >
          <app-task-item
            [task]="task"
            [index]="n"
            (deleteTsk)="deleteTask($event)"
          ></app-task-item>
        </li>
      </ul>
    </div>
  </div>
  <app-task-statistic> </app-task-statistic>
</div>
